.top-navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid magenta;
    width: 100%;

    &__logo {
        display: block;
        padding: 2rem 0;
        max-width: 25rem;
        width: 75%;

        img {
            width: 100%;
        }
    }
}