@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.card {
    @include flexbox;

    background-image: linear-gradient(to bottom, #3d3d3d 0%, #0f0f0f 100%);

    border: 1px solid #555555;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    max-width: 33rem;
    width: 85%;

    a {
        color: #fff;
        display: block;
        text-decoration: none;
        width: 100%;
    }

    &__image {
        border-radius: 1.5rem 1.5rem 0 0;
        height: 20rem;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    &__rating {
        @include flexbox($flow:row nowrap);
        border-bottom: 1px solid $cyan;
        padding: 1rem 1.5rem 2rem;
        width: 80%;

        img {
            display: inline-block;
            height: 20px;
            margin-left: .5rem;
            width: 20px;
        }
    }

    &__name {
        padding: 2.5rem 1.5rem .5rem;
        width: 90%;

    }

    &__genres {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 2rem 3rem 4rem;
        width: 100%;

        p {

            text-align: center;
            width: 100%;
        }

        span {
            background-color: #4b4b4b;
            border: 1px solid #808080;
            border-radius: .5rem;
            display: inline-block;

            font: {
                size: 2rem;
                family: $main-font;
            }

            padding: .5rem 2rem;
        }
    }
}