@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
@import "../../scss/keyframes.scss";

.social-media {
    animation: fadeIn 1.5s 2.5s ease-in-out forwards 1;
    display: flex;
    gap: 2rem;
    transform: translateY(-10rem);
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 100000;

    a {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 4rem;
        transition: all .5s;

        &:hover {
            color: #ccc;
            transform: scale(1.05);
        }

        &:active {
            color: $cyan;
            transform: scale(1);
        }
    }
}