@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main {
    // @include border;
    @include flexbox;
    background-color: #000;
    background: linear-gradient(180deg, #000000 50%, #252525 100%);

}

.filters {
    margin: 4rem auto;
    font-size: 2rem;
    display: flex;

    div {
        @include flexbox;
    }

    select {
        // display: inline-block;
        padding: 1rem 2rem;
        font-size: 2rem;
        background-color: #202020;
        color: white;
        border: 1px solid cyan;
        margin: 0 2rem;
    }
}

.videogames {
    //    @include border;
    @include flexbox($flow:row wrap, $justify:space-evenly);
    gap: 6rem;
    max-width: 120rem;
    width: 95%;
}