@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main {
    // @include border;
    @include flexbox;
    background-color: #000;
    background: linear-gradient(180deg, #000000 50%, #252525 100%);

}
.videogames {
    //    @include border;
    @include flexbox($flow:row wrap, $justify:space-evenly);
    gap: 6rem;
    max-width: 120rem;
    width: 95%;
}