@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
@import "../../scss/keyframes.scss";

.search-bar {
    @include flexbox;
    max-width: 50rem;
    width: 90%;
    position: relative;

    &__input {
        background-color: #000000;
        border: 2px solid #ccc;
        border-radius: 5rem;
        font-size: 1.7rem;
        color: #fff;
        outline: none;
        padding: 1.2rem 2.5rem;
        padding-right: 6rem;
        transition: all .5s;
        width: 100%;

        &:hover {
            background-color: #161616;
            border-color: #fff;
        }

        &::placeholder {
            color: #8080809c;
        }

        &:focus {
            background-color: rgba(8, 8, 8, 0.9);
            border-color: $cyan;

        }

        &--error {
            border-color: red !important;
        }
    }

    &__error {
        animation: formErrorAnimation 1s alternate infinite;
        color: red;
        font-size: 1.2rem;
        text-align: left;
        position: absolute;
        bottom: -2rem;
        text-align: center;
        width: 100%;

        @media screen and (min-width: 450px) {
            font-size: 1.3rem;
            bottom: -4rem;


        }

        @include for-medium-screens {
            bottom: -4.2rem;
            display: block;
            font-size: 1.5rem;
        }

    }

    &__button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        position: absolute;
        transition: all .5s;
        right: 2rem;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: none;
        }

        img {
            fill: #fff;
            width: 50%;

        }
    }
}