@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.pagination {
    margin: 5rem auto 8rem;

    &__items-container {
        @include flexbox($flow:row nowrap);
        gap: 1rem;
        list-style-type: none;
    }

    &__button {

        background-color: transparent;
        border: none;
        color: #e6e6e6b9;
        cursor: pointer;
        display: inline-block;

        font: {
            family: $main-font;
            size: 2.5rem;
        }

        outline: none;
        padding: .5rem;
        text-decoration: none;
        transition: all .5s;

        &:active {
            color: $cyan;
            transform: scale(1.1);
        }

        &:hover {
            transform: scale(1.1);
        }

        &--active {
            color: $cyan;
            transform: scale(1.2);
        }
    }



}