@import "../../scss/variables.scss";
@import "../../scss/keyframes.scss";
@import "../../scss/mixins.scss";

.header {
    // @include border;
    background-image: url(../../assets/hero-banner-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 20px 40px 10px #000000 inset, 0px -40px 60px 20px #000000 inset;
    display: flex;
    height: 60vh;
    min-height: 50rem;
    max-height: 80rem;
    width: 100%;

    &__flex-container {
        // @include border;
        @include flexbox;
        gap: 2rem;
        margin: 10rem auto;
        width: 100%;
    }

    &__logo {
        width: 70%;
        max-width: 35rem;

        // @include for-medium-screens {
        // }
    }

    &__search-bar {
        background-color: #000000;
        border: 2px solid #fff;
        border-radius: 5rem;
        font-size: 1.7rem;
        color: #fff;
        max-width: 60rem;
        outline: none;
        padding: 1.2rem 2.5rem;
        transition: all .5s;
        width: 80%;

        &::placeholder {
            color: #8080809c;
        }

        &:focus {
            border-color: $cyan;
        }
    }
}