@mixin border($s:0px, $c:magenta) {
    border: $s solid $c;
}

//  Flexbox
@mixin flexbox($flow: column nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

// Horizontal center
@mixin h-center {
    margin-left: auto;
    margin-right: auto;
}

// Media queries
@mixin for-medium-screens {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin for-large-screens {
    @media screen and (min-width: 1024px) {
        @content;
    }
}