@mixin border($s:1px, $c:magenta) {
    border: $s solid $c;
}

//  Flexbox
@mixin flexbox($flow: column nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

// Horizontal center
@mixin h-center {
    margin-left: auto;
    margin-right: auto;
}

// Media queries
@mixin for-medium-screens {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin for-large-screens {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin back-btn {
    background-color: #000;
    border: 1px solid $cyan;
    border-left-color: #000;
    border-radius: 0 5rem 5rem 0;
    cursor: pointer;
    padding: 1rem 4rem 1rem 6rem;
    position: fixed;
    left: -4rem;
    top: 5rem;
    transition: all 0.3s ease-in-out;
    z-index: 100000;

    @include for-medium-screens() {
        top: 43%;
    }

    &:hover {
        border-color: #fff;
        border-left-color: #000;
        left: -2rem;
    }

    &:active {
        border-color: $cyan;
        border-left-color: #000;
        transform: scale(0.9);

    }
}

@mixin fixed-background {
    filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
    }
}